.boxLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 33, 33, 0.001);
  z-index: 1200;
}
.boxName {
  font-size: 32px;
}
