.title1 {
  align-items: center;
}

.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.boxMessage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1200;
}
.messageName {
  font-size: 22px;
}

.messageFinish {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff8e6;
  height: 60px;
  width: 500;
  border-radius: 10px;
  border-left: solid 5px #e6a700;
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
